<html>
<head>
  <title>My Kemal Application</title>

  <script src="/application.js" data-turbo-track="reload"></script>
  <style>
    .btn-primary { font-size: 20px; }
  </style>
</head>
<body>
  <%= content %>
</body>
</html>